@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Introduction to Coding in the Cloud</h1>
    <p class="lead">
        Cloud computing is becoming the most widespread platform for modern software applications. This course introduces those who are new the coding to some of the skills needed to develop cloud applications.</p>
    <p><a href="https://www.jcse.org.za/course/introduction-to-coding-in-the-cloud/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coding Fundamentals</h2>
        <p>
            Revision of C# (or Java) and developing a Wire-frame for an application.
        </p>
        <p><a class="btn btn-default" href="https://www.jcse.org.za/course/introduction-to-coding-in-the-cloud/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure Basics</h2>
        <p>Cloud Concepts; Core Azure Services; Privacy, Compliance, and Trust; Pricing, SLAs, and LifeCycles</p>
        <p><a class="btn btn-default" href="https://www.jcse.org.za/course/introduction-to-coding-in-the-cloud/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Capstone Project</h2>
        <p>Integration of the cloud services and concepts into the project template</p>
        <p><a class="btn btn-default" href="https://www.jcse.org.za/course/introduction-to-coding-in-the-cloud/">Learn more &raquo;</a></p>
    </div>
</div>